
<div class="header">

    <h1 >DeviceDoctor</h1>
</div>
<div class="k">
<div class="body">
    <img src="assets/ddd.jpg" alt="Description of Image">
    <span style="font-family:'Times New Roman', Times, serif;font-size: 35px;font-style: Bold;">Welcome to the Official page for DeviceDoctor!!</span>
    
</div>
<div class="servicereg-form">

    
    <span style="font-family: 'Times New Roman', Times, serif;font-size: larger;">Service Center Registration</span>
    <div class="h">
    <form id="services" (submit)="Submit()">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" id="Name" [(ngModel)]="currservice.name" name="Name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="currservice.email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="currservice.password" name="password">
        </div>
        <div class="form-group">
            <label for="Zip">Zip:</label>
            <input type="Zip" id="Zip" [(ngModel)]="currservice.zip" name="Zip">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="address" id="address" [(ngModel)]="currservice.address" name="address">
        </div>
        <button type="submit">Register</button>
        
    </form>
    </div>
</div>
</div>

